/* Footer.css */
.footer {
  background-color: #071013; /* Light grey background */
  color: #fff; /* Dark text color */
  text-align: center; /* Center-align the text */
  padding: 10px 0; /* Padding above and below the text */
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
}
