img {
  width: 85px;
  height: 85px;
  align-self: left;
  display: block;
  margin-left: 2%;
  margin-right: auto;
}

.header {
  user-select: none;
  background-color: #071013; /* Removed quotation marks */
  min-height: 10vh; /* Removed quotation marks and added hyphen */
  display: flex;
  flex-direction: row; /* Removed quotation marks and added hyphen */
  align-items: center; /* Removed quotation marks and added hyphen */
  justify-content: center; /* Removed quotation marks and added hyphen */
  font-size: calc(10px + 2vmin); /* Removed quotation marks */
  color: white;
  position: relative;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #f17105;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}

a:hover {
  text-decoration: underline;
  color: #7f7b82;
  transition: all 0.3s ease; /* Added transition property */
}

/* Existing styles... */

/* Responsive Design for screens smaller than 600px */
/* Header.css */
/* ... existing styles ... */

.menu-toggle {
  display: none;
  /* Style your hamburger icon here */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
}
