/* Menu.css */
.Menu {
  background-color: #501900;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; /* Changed to space-around to handle spacing between items */
  margin: 0px;
  padding-left: 0; /* Removed padding-left to allow flex items to distribute evenly */
}
/* Menu.css */
.Menu {
  background-color: #501900;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; /* Changed to space-around to handle spacing between items */
  margin: 0px;
  padding-left: 0; /* Removed padding-left to allow flex items to distribute evenly */
}
